!!!
%html
  %head
    %title WebCore
  %body
    %h1 Welcome to WebCore
    %p
      WebCore is a simple MVC-style framework created by
      %a{:href => 'http://nanotech.nanotechcorp.net/'} NanoTech.
